extends layout

block content
  h1= username
  p Welcome to the new edit page
  form(action='/users/'+ id + '?_method=PUT', method="POST") 
    label username
    input(type="text", name="username", value=username) 
    br
    label password  
    input(type="text", name="password", value=password)
    br
    button(type="submit") Submit
  form(action='/users/'+ id + '?_method=DELETE', method="POST") 
    button(type="submit") delete

